body{
    background-repeat: no-repeat;
    font-family: Poppins;
    background-color: #252525;
}

#navbar{
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    padding: 0px 0px 0px 15px;
    background-color: whitesmoke;
}

h2{
    font-size: 28px;
    margin: 0;
    margin-top: 10px;
}

ul{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 600px;
    list-style: none;
}

ul li a{
    margin: 0px 20px;
    text-decoration: none;
    color: rgb(99, 99, 99);
}

ul li a:hover{
    color: black;
    text-decoration: underline;
}

input[type=search]{
    border: none;
    padding: 15px;
    display: inline-block;
    height: 30px;
    width: 400px;
}

p{
    font-size: 16px;
}

.main{
    margin: 0px 65px;
    display: flex;
    flex-direction: row;
}

.box {
    margin: 30px 25px;
    text-align: center;
    font-size: 30px;
    background-color: rgb(106 105 105);
}

h3{
    margin: 10px;
    font-size: 25px;
}

h3 a{
    text-decoration: none;
    color: white;
}

h3 a:hover{
    color: #ababab;
    text-decoration: underline;
}

img{
    height: 300px;
    width: 200px;
    object-fit: fill;
}

.dropbtn {
    color: black;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: whitesmoke;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
}
  
.dropdown-content a {
    font-size: 17px;
    padding: 6px;
    text-decoration: none;
    display: block;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
